﻿.panel 
{
}

.panel .top
{
	height:20px;
}

.panel .top .left
{
}

.panel .top .center
{
}

.panel .top .right
{
}

.panel .middle
{
}

.panel .middle .left
{
}

.panel .middle .center
{
}

.panel .middle .right
{
}

.panel .bottom
{
}

.panel .bottom .left
{
}

.panel .bottom .center
{
}

.panel .bottom .right
{
}

.panel .top .center .hideButton, .panel .top .center .collapsed.hideButton
{
	background-color:Red;
	height:20px;
	width:20px;
	cursor:pointer;
}