﻿body
{
	background-color:#c0e1f2;
	background-image:url(../images/bg.png);
	
	
	font-family:arial;
	font-size:10pt;
	color:#333333;
}

a
{
	color:Gray;
}

.header
{
	width:900px;
}

.logo
{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width:621px;
	height:123px;
}

.mainmenu
{
	display:none;
	padding-top:106px;
}

.mainmenu img
{
	border:none;
}

.content
{
	width:900px;
}

.content p
{
	margin:20px;
	text-align:justify;
	font-family:Tahoma;
	font-size:11pt;
}

.content p:first-letter 
{
	font-size:17pt;
}

.content input
{
	background-color:Transparent;
	border:solid 1px #ffba00;
	padding:2px;
	background-image:url(../images/bg30.png);
}

.textTd
{
	text-align:center;
}
	
/*
************************** Sliders **************************
*/

.weather
{
	float:left;
	width:286px;
	height:463px;
	background-image:url(../images/bg_weather.png);
	background-repeat:no-repeat;
}

.scale
{
	position:relative;
	width:280px;
	text-align:left;
	left:5px;
}

.scale.header
{
	position:relative;
	color:#424277;
	font-size:15pt;
	font-weight:bold;
	font-family:Arial;
	width:250px;
	height:33px;
}

.scale.image
{
	position:relative;
	top:-5px;
	left:20px;
	height:60px;
	width:229px;
    background-image: url(../images/sky.png) ;
    background-repeat:no-repeat;
}

.scale.header span
{
	display:none;
}

.clouds.scale.header
{
	margin-top:80px;
}

.scale.caption
{
	background-repeat:no-repeat;
	height:33px;
	float:left;
}

.scale.value
{
	position:relative;
	float:left;
	width:70px;
	height:30px;
	left:5px;
	top:2px;
	background-position:left top;
	background-repeat:no-repeat;
}

.scale.handle 
{
    position: absolute;
    top:0px;
    left:0px;
    height: 60px;
    width: 11px;

    background-image: url(../images/slider_handle.png) ;
    background-repeat:no-repeat;
}

.clouds.scale.caption
{
	background-image:url(../images/caption_clouds.png);
	width:122px;
}

.clouds.scale.value
{
	background-image:url(../images/val_clouds.png);
	top:2px;
}

.rain.scale.caption
{
	background-image:url(../images/caption_rain.png);
	width:74px;
}

.rain.scale.value
{
	background-image:url(../images/val_rain.png);
	top:-1px;
}

.temprature.scale.caption
{
	background-image:url(../images/caption_temperature.png);
	width:125px;
}

.temprature.scale.value
{
	background-image:url(../images/val_temperature.png);
	top:5px;
	height:18px;
}

.storm.scale.caption
{
	background-image:url(../images/caption_storm.png);
	width:89px;
}

.storm.scale.value
{
	background-image:url(../images/val_storm.png);
	top:-3px;
}

.clouds.scale.image{
    background-image: url(../images/sky.png) ;
}

.temprature.scale.image{
    background-image: url(../images/temprature.png) ;
}

.rain.scale.image{
    background-image: url(../images/rain.png) ;
}

.storm.scale.image{
    background-image: url(../images/storm.png) ;
}

/*
************************** LocationMap **************************
*/

.Location
{
	position:relative;
	width:286px;
	height:464px;
	background-image:url(../images/bg_location.png);
	background-repeat:no-repeat;
}

.LocationMap
{
	position:absolute;
	left:22px;
	top:65px;
	z-index:0;
	width:241px;
	height:320px; 
}

.LocationMap .image
{
	position:relative;
	top:0px;
	left:0px;
	z-index:0;
}

.LocationMap .hotspot, .LocationMap .selected_hotspot, .LocationMap .screen
{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	width:100px;
	height:150px;
	background-image:url(../images/hotspot.png);
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	vertical-align:middle;
	cursor:default;
	
	color:#ff6600;
	font-family:arial;
	font-weight:bold;
	font-size:11pt;
	border:solid 1py green;
}

.LocationMap .selected_hotspot
{
	background-image:url(../images/hotspot_light.png);
}

.LocationMap .screen
{
	height:116px;
	background-image:url(../images/flag.png);
	
	font-size:13pt;
}

.LocationMap .screen td
{
	padding-top:30px;
}


/*
************************** Location Text **************************
*/

.autocomplete
{
	position: absolute;
	top:427px;
	left:15px;
	width:230px;
}

.autocomplete input
{
	width:100%;
}

.autocomplete.cbo 
{
	text-align:left;
	display:none;
	position: relative;
	left:0px;
	top:0px;
    /*z-index:100;*/
    background-color:White;
    /*background-image:url(../images/bg30.png);*/
	width:248px;
	border:solid 1px #ffba00;
    padding:2px;
    color:#333333;
}

.autocomplete.cbo td
{
}

.autocomplete .cbo .row
{
	cursor:pointer;
    font-size:8pt;
}

.autocomplete .cbo .row.highlight
{
	background-color:#c0e1f2;
}

.autocomplete .cbo .caption
{
	display:none;
}


.autocomplete#Location
{
	float:left;
	width:247px;
	height:152px;
}

.Location a
{
	position:absolute;
	top:390px;
	left:140px;
	width:135px;
	height:25px;
}

/*
************************** Date Range **************************
*/

.dateRange
{
	width:286px;
	height:157px;
	background-image:url(../images/bg_datetime.png);
	background-repeat:no-repeat;
}

.dateRange span
{
	display:none;
}

.dateRange .dateRangeTextBox1
{
	margin:81px 0px 0px 60px;
	width:185px;
}

.dateRange .dateRangeTextBox2
{
	margin:15px 0px 0px 60px;
	width:185px;
}


/*
************************** THNAK YOU **************************
*/

div.thankyou
{
	position:relative;
	width:286px;
	height:463px;
	background-image:url(../images/bg_thankyou.png);
	background-repeat:no-repeat;
}

div.thankyou table
{
	position:absolute;
	top:80px;
	width:100%;
	height:300px;
	padding:0px 10px 0px 10px;
}

div.thankyou a div.back
{
	position:absolute;
	top:390px;
	left:95px;
	width:90px;
	height:35px;
}
