/* Main Style Sheet for jQuery UI date picker */
#datepicker_div, .datepicker_inline {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	width: 185px;
	font-size:10pt;
	color: #ff9500;
}
#datepicker_div {
	display: none;
	border:solid 1px #ffba00;
    background-image:url(../images/bg70.png);
    padding:2px;
	z-index: 9999; /*must have*/
}
.datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.datepicker_rtl {
	direction: rtl;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
}
* html .datepicker_prompt {
	width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
	clear: both;
	float: left;
	width: 100%;
}
.datepicker_control 
{
	display:none;
	padding: 2px 0px;
}
.datepicker_links {
	padding: 2px 0px;
}
.datepicker_control, .datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.datepicker_links label { /* disabled links */
	padding: 2px 5px;
}
.datepicker_clear, .datepicker_prev {
	float: left;
	width: 34%;
}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev {
	float: right;
	text-align: right;
}
.datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next {
	float: left;
	text-align: left;
}
.datepicker_header {
	padding: 1px 0 3px;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.datepicker_header select {
	border: 0px;
	font-weight: bold;
}
.datepicker {
	text-align: center;
	font-size: 100%;
	
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.datepicker a {
	display: block;
	width: 100%;
}
.datepicker_titleRow 
{
}
.datepicker_daysRow 
{
	font-weight:bold;
	color: #333333;
}
.datepicker_weekCol {
}
.datepicker_daysCell 
{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}
.datepicker_daysCell a{
	display: block;
}
.datepicker_weekEndCell {
}
.datepicker_titleRow .datepicker_weekEndCell {
}
.datepicker_daysCellOver {
	border: 1px solid white;
	background-color:#c0e1f2;
	font-weight:bold;
}
.datepicker_unselectable {
}
.datepicker_today {
}
.datepicker_currentDay {
}
.datepicker_status {
	width: 100%;
	font-size: 80%;
	text-align: center;
}

.datepicker_newMonth, .datepicker_newYear
{
	font-size:9pt;
	color: #ff9500;
	font-weight:normal;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 2px 5px !important;
}
.datepicker_titleRow a 
{
}
.datepicker_weekEndCell a
{
	color:#ff3400 !important;
}
.datepicker_control a:hover {
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
}

/* ___________ MULTIPLE MONTHS _________*/

.datepicker_multi .datepicker {
	border: 1px solid #777;
}
.datepicker_oneMonth {
	float: left;
	width: 185px;
}
.datepicker_newRow {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}