﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="grid.aspx.cs" Inherits="PetrusImHimmel.grid" %>

<%@ Register assembly="iCOMcept.Web.Ajax" namespace="iCOMcept.Web.Ajax" tagprefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <link href="Style/panel.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    
    <cc1:DataGrid runat="server" ID="grid1" DataUrl="JsonServer.aspx">
    <Columns>
    <cc1:DataGridColumn Name="c1" />
    <cc1:DataGridColumn Name="c2" />
    </Columns>
    </cc1:DataGrid>
    </form>
</body>
</html>
