﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage1.master"
CodeBehind="SubmitFeedback.aspx.cs" Inherits="PetrusImHimmel.SubmitFeedback" %>

<%@ Register src="TextControl.ascx" tagname="TextControl" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="Server">


<div class="thankyou">
<table>
<tr>
<td valign="middle" align="center">
<uc1:TextControl ID="TextControl1" runat="server" TextName="SubmitFeedback" />
</td>
</tr>
</table>
    
    <a href="Default.aspx"><div class="back"></div></a>
</div>

</asp:Content>